body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-image: url('images/m-07.jpg');
    background-attachment: fixed;
}

#main {
    position: fixed;
    width: 75%;
    height: auto;
    padding: 0;
    top: 40px;
    left: calc(((100% - 75%) / 2) + 64px);
    z-index: 1;
}

#main > * {
    border-radius: 5px;
}

#main #closeButton {
    position: absolute;
    top: -17px;
    right: -17px;
}

#main #closeButton i {
    cursor: pointer;
    text-shadow: -5px 5px 15px #000;
}

.hidden {
    display: none !important;
}

.UI_Window {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    box-shadow: 0px 0px 10px 2px #77CCFF;
}
