body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-image: url('images/m-07.jpg');
}

#main {
    margin-left: 60px;
    width: auto;
}

.hidden {
    display: none !important;
}

.UI_Window {
    background: rgba(0, 0, 0, 0.75);
    color: white;
}
