body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-image: url('images/m-07.jpg');
}

#main {
    margin-left: 60px;
    width: auto;
    position: relative;
}

.hidden {
    display: none;
}
